<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Plugin Basic Test">
			<directory suffix="test.php">./tests/</directory>
			<exclude>./tests/bootstrap.php</exclude>
		</testsuite>
	</testsuites>
	
	<!-- カバレッジ設定 -->
	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
			<directory suffix=".php">./includes</directory>
			<file>./my-first-phpunit-on-wp.php</file>
		</include>
		<exclude>
			<directory>./tests</directory>
			<directory>./vendor</directory>
			<directory>./wordpress</directory>
			<directory>./coverage</directory>
		</exclude>
		<report>
			<html outputDirectory="coverage/html"/>
			<text outputFile="coverage/coverage.txt"/>
			<clover outputFile="coverage/clover.xml"/>
		</report>
	</coverage>
</phpunit>
